// Colores
$primaryColor: #02aab0;
$secondaryColor: #00cdac;

$whiteColor: #fff;

$darkGrey: #333333;

$darkBlueText: #272341; // 

// Tamaños de letra
$defaultFontSize: 1.6rem;
$bigFontSize: 4rem;
$midFontSize: 2.5rem;
