// COLORS
$primaryColor: #02aab0;
$secondaryColor: #00cdac;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$whiteColor: #fff;

$darkGrey: #333333;

$darkBlueText: #272341; // For Headings

// FONT SIZE
$defaultFontSize: 1.6rem;
$bigFontSize: 4rem;
$midFontSize: 2.5rem;
