// general:
.generalContainer{
    max-width: 80%;
    margin: 0 auto;
}

// behaviourals:
.flex{
    display:flex;
    padding: 0;
}

.flexRow{
    @extend .flex;
    flex-direction: row;
}
.flexCol{
    @extend .flex;
    flex-direction: column;
}