// Estructura general de cabecera y pie de página:
.layoutContainer{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layoutContent{
    flex-grow: 1;
}

// barras de navegación:

.headerBar{ //cabecera
    z-index: 1000;
    width: 100%;
    height: 100px;
    background-color: $primaryColor;
    box-shadow: 0px 0px 3px 0.1px black;
}
.footerBar{ //pie de pagina
    width: 100%;
    height: 50px;
    background-color: $primaryColor;
    font-size: 14px;
    .footerFlex{
        display: flex;
        flex-direction: row;
        .footerLinks{
            align-self: center;
            p, h1,h2,h3,h4,h5,h6{
                padding:0 10px;
                margin: 0;
            }
            a:hover{
                color:$secondaryColor;
            }
        }
        @include respond(mobil) {
            flex-direction: column;
            text-align: center;
        }
    }
}




.barContent{    //barras
    align-items: center;
    height: 100%;
    .text{
        width: 100%; 
        padding-left: 1rem;
        p, h1,h2,h3,h4,h5,h6{
            padding:0;
            margin: 0;
        }
    }

    .hmgButton{
        background-color: transparent;
        border: none;
        outline:none;
        &:hover{
            cursor: pointer;
        }
    }
}

.headerOpen{
    position: fixed;
    transition: 1s;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: $primaryColor;
    .menu{
        align-items: center;
        justify-content: center;
    }
}

